<body class="bg-form-neutral">
  <div class="row">
      <div class="container col-lg-6 centerbox">
          <div class="container bg-form-lightest center-container">
              <h2 class="text-center">Submitted</h2>
              <div class="text-center">
                  Thank you for your application. We will reach out to you soon.
                  <hr>
                  <button (click)="onHomeSelection()" class="btn btn-primary">Home</button>
              </div>
          </div>
      </div>
  </div>
</body>