<body id="page-top">
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="col-lg-10 mx-auto ">
        <h1 class="text-uppercase text-shadow">
          <strong>Become a shopper</strong>
        </h1>
        <br>
      </div>
      <div class="col-lg-8 mx-auto">
        <button (click)="onApplyNow()" class="btn btn-primary">Apply now</button>
      </div>
    </div>
  </header>

  <section class="bg-lightest text-white" id="services">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Why Instacart</h2>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="info-box mt-5 mx-auto">
            <h3 class="mb-3">Earn extra income in your spare time </h3>
            <p class="mb-0">Get paid weekly. Work peak days to maximize your earnings.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="info-box mt-5 mx-auto">
            <h3 class="mb-3">Flexible schedule</h3>
            <p class="mb-0">Choose hours that work for you. Take time off, or work extra when it suits you.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="info-box mt-5 mx-auto">
            <h3 class="mb-3">Join a meaningful team</h3>
            <p class="mb-0">Be part of the team. Make an impact on people's lives.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-neutral text-white">
    <div class="container text-center">
      <h2 class="mb-4">Ready to get started?</h2>
      <hr>
      <button (click)="onApplyNow()" class="btn btn-primary">Apply now</button>
    </div>
  </section>

  <section class="bg-darkest" id="contact">
    <div class="container text-white">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Questions?</h2>
          <hr>
          <p class="mb-5">Ready to start your journey with Instacart but have questions? Please reach out.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <p>1-888-246-7822</p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <p>
            <a href="mailto:help@instacart.com">help@instacart.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</body>